<%= form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%= form.label t(:email_or_username, scope: [:activerecord, :attributes, :user]) %>
    <%= form.text_field :email %>
  </div>

  <div class="password-field">
    <%= form.label t(:password, scope: [:activerecord, :attributes, :user]) %>
    <%= form.password_field :password %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path %>
    <% end %>
    <%= link_to t(".forgot_password"), new_password_path %>
  </div>
<% end %>
