<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

<div class="text-field">
  <%= form.label t(:username, scope: [:activerecord, :attributes, :user]) %>
  <%= form.text_field :username %>
</div>

<div class="password-field">
  <%= form.label t(:password, scope: [:activerecord, :attributes, :user]) %>
  <%= form.password_field :password %>
</div>
