<aside class="user-info flex-box flex-box-small">
  <%= render 'user_info', user: current_user %>
</aside>

<div class="content flex-box flex-box-big">
  <section class="new-post">
    <%= form_for(Post.new) do |f| %>
      <%= f.text_field :content,
        placeholder: t(:placeholder, scope: [:posts, :new]),
        class: 'post-editor',
        maxlength: '160',
        required: true
      %>
      <%= f.submit t(:button, scope: [:posts, :new]), id: 'chirp-btn' %>
    <% end %>
  </section>
  <section class="posts">
    <%= render partial: 'post', collection: @posts %>
  </section>
</div>

<% if current_user.not_following.any? %>
  <aside class="flex-box flex-box-small">
    <%= render 'people_you_may_know', users: current_user.not_following.sample(3) %>
  </aside>
<% end %>
