<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <%= link_to root_path, class: 'logo' do %>
      <%= image_tag "logo_white_small.png", alt: "Logo image" %>
    <% end %>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link">
          <%= link_to 'Home', root_path %>
        </li>
        <% if signed_in? %>
          <li class="nav-link">
            <%= link_to notifications_path do %>
              Notificações
              <% if current_user.unread_notifications.any? %>
                <span class="notifications-count"><%= current_user.unread_notifications.count %></span>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
    <div class="navigation-tools">
      <div class="search-bar">
        <%= form_tag search_users_path, role: 'search',
          class: 'search-form', method: :get do %>
          <input type="search" placeholder="Buscar usuários" name="username" id="search" />
          <button type="submit">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
          </button>
        <% end %>
      </div>
      <nav role="navigation">
        <ul id="js-navigation-menu" class="navigation-menu show">
          <% if signed_in? %>
            <li class="nav-link">
              <%= link_to user_path(current_user.username) do %>
                @<%= current_user.username %>
              <% end %>
            </li>
          <li class="nav-link">
            <%= link_to t('layouts.application.sign_out'), sign_out_path, method: :delete %>
          </li>
        <% else %>
          <li class="nav-link">
            <%= link_to t('layouts.application.sign_in'), sign_in_path %>
          </li>
        <% end %>
      </ul>
    </nav>
    </div>
  </div>
</header>
