<%= user_avatar_for(user, size: 150, class: 'profile-image') %>
<h2 class="username">@<%= user.username %></h2>
<ul class="stats">
  <li>
    <span class="stats-caption">
      Posts
    </span>
    <span class="stats-value">
      <%= user.posts.count %>
    </span>
  </li>

  <li>
    <span class="stats-caption">
      Seguindo
    </span>
    <span class="stats-value">
      <%= user.following.count %>
    </span>
  </li>

  <li>
    <span class="stats-caption">
      Seguidores
    </span>
    <span class="stats-value">
      <%= user.followers.count %>
    </span>
  </li>

</ul>
<% if(signed_in? && user != current_user) %>
  <div class="follow-info">
    <% if current_user.following?(user) %>
      <span class="btn following">Seguindo</span>
    <% else %>
      <%= button_to 'Seguir', follow_user_path(user.username),
        class: "follow", method: :put %>
    <% end %>
  </div>
<% end %>
