<%= user_avatar_for(user, size: 150, class: 'profile-image') %>
<h2 class="username">@<%= user.username %></h2>
<ul class="stats">
  <li>
    <%= link_to user_path(user.username) do %>
      <span class="stats-caption">
        Posts
      </span>
      <span class="stats-value">
        <%= user.posts.count %>
      </span>
    <% end %>
  </li>

  <li>
    <%= link_to following_path(user.username) do %>
      <span class="stats-caption">
        Seguindo
      </span>
      <span class="stats-value">
        <%= user.following.count %>
      </span>
    <% end %>
  </li>

  <li>
    <%= link_to followers_path(user.username) do %>
      <span class="stats-caption">
        Seguidores
      </span>
      <span class="stats-value">
        <%= user.followers.count %>
      </span>
    <% end %>
  </li>

</ul>
<% if(signed_in? && user != current_user) %>
  <div class="follow-info">
    <% if current_user.following?(user) %>
      <%= button_to 'Seguindo', unfollow_user_path(user.username),
        class: "btn following", method: :put %>
    <% else %>
      <%= button_to 'Seguir', follow_user_path(user.username),
        class: "btn follow", method: :put %>
    <% end %>
  </div>
<% end %>
